*{ margin:0;
    padding:0;
    box-sizing: border-box;}
.noidungthe{border: 1px solid black; width:600px; margin-left: 20px; padding: 10px }
body{background-color: white;}
.text1{font-weight: bold;}
.text2{color: rgb(39, 79, 211)}